iframe {
	margin: 0;
}

body {
	height: auto;
	max-height: none;
	position: relative;
}

a {
	text-decoration: none;
}

@keyframes headerBg {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(1.05) rotate(1.2deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}

@-webkit-keyframes headerBg {
	0% {
		-webkit-transform: scale(1) rotate(0deg);
	}
	50% {
		-webkit-transform: scale(1.05) rotate(1.2deg);
	}
	100% {
		-webkit-transform: scale(1)rotate(0deg);
	}
}

.main-header-container {
    width: 100%;
	max-height: 100%;
    overflow: hidden;
    display: table;
	margin-bottom: 5rem;
	z-index: 1;
}

.post-head {
	margin-bottom: 0;
	background-color: none;
	
    animation-name: "headerBg";
	animation-duration: 30s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

    -webkit-animation-name: "headerBg";
	-webkit-animation-duration: 30s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
}

.main-header.index-header {
	width: 300px;
	float: left;
	position: fixed;
	height: 100%;
	max-height: 100%;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0s ease 0s;
    transition: transform 0.3s ease, opacity 0s ease 0s;
}

@media only screen and (max-width: 720px){
	.main-header.index-header {
		width: 100%;
		float: none;
		position: relative;
		height: 120px;
		padding: 0;
		margin-bottom: 0;
	}
}

.index.content {
	margin-left: 300px;
}

@media only screen and (max-width: 720px){
	.index.content {
		margin-left: 0;
	}
}

.article-wrapper::after {
	content: "";
	display: block;
	clear: both;
}

.index .post {
	margin: 0 auto;
    padding: 4rem;
	width: 50%;
	height: 60vh;
	max-width: none;
	float: left;
	border-right: #EBF2F6 1px solid;
	border-bottom: #EBF2F6 1px solid;
	transition-duration: 300ms;
	box-sizing: border-box;
}

@media only screen and (max-width: 1280px){
	.index .post {
		width: 100%;
		height: auto;
		padding: 4rem 24rem 4rem 4rem;
		position: relative;
	}
}

@media only screen and (max-width: 900px) {
	.index .post {
		padding: 4rem;
	}
}

@media only screen and (max-width: 720px){
	.index .post {
		border-left: #EBF2F6 1px solid;
	}
}

.index .post:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.index .post-title {
	max-height: 13vh;
	overflow: hidden;
	transition-duration: 300ms;
}

.index .post:hover .post-title {
	background: rgba(220, 20, 60, 0.8);
}

.index .post:hover .post-title a {
	color: #fff;
}

.index .post-cover {
	width: 100%;
	height: 20vh;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0.4em;
	background-position: 50%;
}

@media only screen and (max-width: 1280px){
	.index .post-cover {
		width: 26vh;
		height: 32vh;
		position: absolute;
		right: 2em;
		background-position: 50%;
	}
}

@media only screen and (max-width: 900px) {
	.index .post-cover {
		display: none;
	}
}

.index .post-meta {
    margin: 0; 
    position: absolute;
    bottom: 12px;
}

.index .post section {
	height: 13vh;
	overflow: hidden;
}

@media screen and (max-width: 1280px){
	.index .post section {
		height: 27vh;
	}
}

body.home-template .nav {
	left: 60px;
    right: auto;
	z-index: 0;
}

body.home-template.nav-opened .nav {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0s ease 0s;
    transition: transform 0.3s ease, opacity 0s ease 0s;
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}

body.home-template.nav-closed .nav {
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}

body.nav-opened .nav-cover {
	left: 240px;
	right: 0;
}

body.home-template.nav-opened .main-header {
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0s ease 0s;
    transition: transform 0.3s ease, opacity 0s ease 0s;
    -webkit-transform: translate3D(-240px, 0, 0);
    -ms-transform: translate3D(-240px, 0, 0);
    transform: translate3D(-240px, 0, 0);
}

body.post-template .nav, body.author-template .nav {
	opacity: 1;
	right: auto;
	left: 0;
}

body.post-template.nav-opened .nav, body.author-template.nav-opened .nav {
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0s ease 0s;
    transition: transform 0.3s ease, opacity 0s ease 0s;
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}

body.post-template.nav-closed .nav, body.author-template.nav-closed .nav {
    -webkit-transform: translate3D(-240px, 0, 0);
    -ms-transform: translate3D(-240px, 0, 0);
    transform: translate3D(-240px, 0, 0);
}

body.post-template .menu-button, body.author-template .menu-button {
	float: left;
}

body.post-template.nav-opened .menu-button, body.author-template.nav-opened .menu-button {
	-webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    transition: all 0.3s ease;
}

body.post-template.nav-opened .menu-button .word, body.author-template.nav-opened .menu-button .word {
	opacity: 1;
}

body.home-template .site-footer {
	margin-left: 300px;
}

@media only screen and (max-width: 720px) {
	.site-footer {
		margin-left: 0;
	}
}

body.author-template .post-cover {
	height: 350px;
	position: relative;
	display: table;
	background-size: cover;
}

body.author-template .post-cover .post-header {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	padding: 0 20px;
	box-sizing: border-box;
	background: rgba(220,20,60,0.7);
	transition-duration: 400ms;
}

body.author-template .post-cover .post-header h2 {
	margin: 10px 0;
	color: #fff;
}

body.author-template .post-cover .post-excerpt {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 0 10px;
	opacity: 0;
	transition-duration: 400ms;
}

body.author-template .post-cover:hover .post-excerpt {
	opacity: 1;
}

body.author-template .post-cover:hover .post-header {
	opacity: 0;
}

.elevator {
    text-align: center;
    cursor: pointer;
    width: 140px;
    margin: auto;
}

.elevator svg {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

/*

.nav {
    left: 0;
}

body.nav-closed .nav {
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
}

body.nav-opened .nav {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
}

body.nav-closed .main-header {
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
}

body.nav-opened .main-header {
    -webkit-transform: translate3D(240px, 0, 0);
        -ms-transform: translate3D(240px, 0, 0);
            transform: translate3D(240px, 0, 0);
}

body.nav-opened .site-wrapper {
    -webkit-transform: translate3D(240px, 0, 0);
        -ms-transform: translate3D(240px, 0, 0);
            transform: translate3D(240px, 0, 0);
}*/
