body {
	height: auto;
	max-height: none;
	position: relative;
}

@keyframes headerBg {
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.05);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes headerBg {
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.05);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

.main-header-container {
    width: 100%;
    height: 65vh;
    overflow: hidden;
	position: relative;
    display: table;
	margin-bottom: 5rem;
}

.post-head {
	margin-bottom: 0;
	background-color: none;
	
    animation-name: "headerBg";
	animation-duration: 30s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

    -webkit-animation-name: "headerBg";
	-webkit-animation-duration: 30s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
}

.main-header.index-header {
	width: 300px;
	float: left;
	position: fixed;
	height: 100%;
	max-height: 100%;
}

.index.content {
	margin-left: 300px;
}

.article-wrapper::after {
	content: "";
	display: block;
	clear: both;
}

.index .post {
	margin: 0 auto;
    padding: 4rem;
	width: 50%;
	height: 54vh;
	max-width: none;
	float: left;
	border-right: #EBF2F6 1px solid;
	border-bottom: #EBF2F6 1px solid;
	transition-duration: 300ms;
	box-sizing: border-box;
}

@media screen and (max-width: 1280px){
	.index .post {
		width: 100%;
		height: auto;
		padding: 4rem 24rem 4rem 4rem;
		position: relative;
	}
}

.index .post:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.index .post-title {
	max-height: 13vh;
	overflow: hidden;
}

.index .post-cover {
	width: 100%;
	height: 20vh;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0.4em;
}

@media screen and (max-width: 1280px){
	.index .post-cover {
		width: 28vh;
		height: 32vh;
		position: absolute;
		right: 2em;
		background-position: 50%;
	}
}

.index .post-meta {
    margin: 0; 
    position: absolute;
    bottom: 12px;
}

.index .post section {
	height: 13vh;
	overflow: hidden;
}

@media screen and (max-width: 1280px){
	.index .post section {
		height: 27vh;
	}
}

/*

.nav {
    left: 0;
}

body.nav-closed .nav {
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
}

body.nav-opened .nav {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
}

body.nav-closed .main-header {
    -webkit-transform: translate3D(0, 0, 0);
        -ms-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
}

body.nav-opened .main-header {
    -webkit-transform: translate3D(240px, 0, 0);
        -ms-transform: translate3D(240px, 0, 0);
            transform: translate3D(240px, 0, 0);
}

body.nav-opened .site-wrapper {
    -webkit-transform: translate3D(240px, 0, 0);
        -ms-transform: translate3D(240px, 0, 0);
            transform: translate3D(240px, 0, 0);
}*/
